/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilos do cabeçalho */
header {
    margin: 30px 15px 0 15px;
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header img {
    width: 50px;
    margin-right: 15px;
}

header h1 {
    font-size: 2rem;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: normal;
}

header .active {
    color: #f1c4c4;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

header nav ul li a:hover {
    color: #f5f5f5;
}

/* Container principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Área de cartões */
.card-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card-area .card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-area .card img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card-area .card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.card-area .card p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.card-area .card .read-more {
    color: #f1c4c4;
    text-decoration: none;
    font-size: 1.2rem;
}

.card-area .card .read-more:hover {
    color: #f5f5f5;
}

/* Imagem superior */
.superior-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.superior-image img {
    max-width: 100%;
}

/* Seção "Feito por" */
.made-by {
    margin-top: 15rem;
    display: flex;
    align-items: center;
    color: #f5f5f5;
    padding: 20px;
}

.made-by img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Postagens recentes */
.recent-post .post {
    align-items: center;
    margin-bottom: 10px;
}

/* Postagens */
.post {
    align-items: center;
    margin-bottom: 10px;
    color: #f5f5f5;
    padding: 20px;
    background: rgba(85, 71, 71, 0.3);
    border-radius: 10px;
}

.post h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: normal;
}

.post p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.post .read-more {
    color: #f1c4c4;
    text-decoration: none;
    font-size: 1.2rem;
}

.post .read-more:hover {
    color: #f5f5f5;
}

/* Botão "Leia mais" */
.read-more {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.read-more a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #f1c4c4;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Seção "Tendências" */
.trending {
    margin-top: 50px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}

.trending h2 {
    font-size: 2rem;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: normal;
}

/* Rodapé */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Formulário de contato */
form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
    font-family: 'Roboto', sans-serif;
}

form button {
    background-color: #f1c4c4;
    color: #333;
    border: none;
}

form button:hover {
    background-color: #f5f5f5;
    color: #333;
}

input:focus,
textarea:focus {
    outline-color: #f1c4c4;
}

/* Links sociais */
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-links img {
    height: 24px;
    margin-right: 16px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links a {
    text-decoration: none;
}

/* Seção "Destaque" */
.destacado {
    font-size: 2rem;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: normal;
    margin-top: 20px;
    padding: 10px;
    background-color: #dfdddd;
    border-radius: 5px;
}

.destacado .card-area {
    height: 150px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.destacado .number-card {
    background-color: #f1c4c4;
}

.number-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1c4c4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.number-icon {
    font-size: 3rem;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    background-color: rgb(250, 134, 134);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-card .number {
    font-size: 2rem;
    font-family: "Jacquarda Bastarda 9", serif;
}

.number-card .number-name {
    font-size: 1rem;
    margin: 10px 0;
}

/* Títulos */
h2 {
    font-size: 2rem;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* Seção "Nosso Líder" */
.our-lead {
    margin-top: 20px;
}

.leader {
    background: #f5f5f5;
    padding: 20px;
}

.leader img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.leader h3 {
    font-size: 2rem;
    font-family: "Roboto", serif;
    font-weight: normal;
}

.leader p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.leader .read-more {
    color: #f1c4c4;
    text-decoration: none;
    font-size: 1.2rem;
}

.lead-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Divisão */
.split {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Estilos adicionais */
.card-body a {
    color: #333;
    background-color: #f1c4c4;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-top: #333;
}

.card-footer li {
    display: flex;
    align-items: center;
}

.card-footer ul li {
    margin-right: 10px;
}

.card-header img {
    width: 300px;
    height: 300px;
}

.contact {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.state-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}




